@import '../../../index.scss';

.container {
  // height: 30px;
  // width: 810px;
  width: 100%;
  margin-top: 30px;
  background: white;
  border-radius: 4px;

  &.completed {
    background: $off-white-light;
  }
}

.content {
  padding: 45px;
  display: flex;
  align-items: center;
}

.checkbox {
  margin: 0;
  padding: 0;
}

.text {
  color: $grey-dark;
  font-size: 20px;
  height: 100%;
  line-height: 30px;

  &.completed {
    color: $grey;
    text-decoration: line-through;
  }
}

.title {
  margin-left: 45px;
  flex: 1;
}