@import "../../../index.scss";

.container {
  cursor: pointer;
  height: 100%;
  max-height: 60px;
  // width: 900px;
  width: 100%;
  background: white;
  border-radius: 4px;
  transition: max-height 100ms;

  &:hover {
    opacity: 0.8;
  }
}

.open {
  cursor: unset;
  max-height: 120px;
}

.closedTitle {
  color: $grey;
  font-size: 20px;
  text-align: center;
  height: 60px;
  line-height: 60px;
}

.content {
  height: 30px;
  padding: 45px;
  display: flex;
  align-items: center;
}

.add {
  margin-bottom: -12px !important;
}

.title {
  color: $grey-dark;
  flex: 1;
  margin: -16px 45px 0px 45px !important;
}

.date {
  color: $grey-dark;
  margin-top: -16px !important;
}