@import "../../index.scss";

.container {
  background-color: white;
  border-radius: 4px;
}

.form {
  margin: auto;
  padding: 25px;
  // width: 400px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.textField {
  margin-bottom: 20px !important;
}